@model Memorial.Models.Login


@{
    ViewData["Title"] = "LoginUser";
}

@{ Layout = "_Layout2"; }
<br />
<h1>Login User</h1>

<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control border" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control border" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign IN" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


