@model Memorial.Models.Books

@{ ViewData["Title"] = "Register"; }
@{ Layout = "_Layout2"; }
<br />
<h4>Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for=" BookName" class="control-label"></label>
                <input asp-for=" BookName" class="form-control border" />
                <span asp-validation-for=" BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=" Title" class="control-label"></label>
                <input asp-for=" Title" class="form-control border" />
                <span asp-validation-for=" Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control border"
                        asp-items="@(new SelectList(ViewBag.ListAuthors,"Id", "AuthorName"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for=" NumberOfChapters" class="control-label"></label>
                <input asp-for=" NumberOfChapters" class="form-control border" />
                <span asp-validation-for=" NumberOfChapters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
                <a asp-action="Index" type="button" class="btn btn-warning">Back to List</a>
            </div>
        </form>
    </div>
</div>
